@use "./partials/mixins" as *;
@use "./partials/varables" as *;

header {
    height: 70px;
    @include my-flex(row, space-between, center);
    @include my-padding(50px, 0, 50px, 0);
    
    img {
        width: 60px;
    }

    ul {
        @include my-flex(row, space-between, center);
        gap: 20px;

        a {
            font-weight: bold;
            &:hover {
                color: $hover_nav_bar;
            }
            
        }

    }
}