@use "./partials/mixins" as *;
@use "./partials/varables" as *;

section {
    background-color: $hover_nav_bar ;
    

    div.container {

        @include my-flex (row, space-between, center);
        @include my-padding(20px, 20px, 20px, 20px);

         ul {
            @include my-flex (row, space-between, center);
            gap: 20px;

            li {
                font-size: .5rem;
                color: white;

                &.img {
                    width: 30px;
                }
                
                a {
                    color: white;
                }
            }
        }
    }

   
}