@use "./partials/mixins" as *;
@use "./partials/varables" as *;

header {
    @include my-flex(row, space-between, center);
    
    img {
        width: 60px;
    }

    ul {
        @include my-flex(row, space-between, center);
        gap: 20px;

        li {
            height: 70px;
            @include my-flex (row, start, center);
            &:hover {
                border-bottom: 3px solid $hover_nav_bar;
            }
        }

        a {
            font-size: .7rem;
            font-weight: bold;
            &:hover {
                color: $hover_nav_bar;   
            }
            
        }

    }
}