@use "./partials/mixins" as *;

section {
    background-image: url(../assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include my-flex (row, space-between, center);
    
    section.container {
        .lists {
            @include my-flex (row, space-between, top);
            flex-wrap: wrap;
            gap: 10px;

            ul {
                width: calc(100% / 4);

                li.title {
                    color: white;
                    @include my-padding (50px, 0, 10px, 0);
                }

                li {
                    a.link {
                        color: rgba(255, 255, 255, 0.468);
                    }

                    @include my-padding (10px, 0, 0, 0);
        
                
                }
                
            }
        
        }

        img {
            width: 400px;
        }
   
    }
    

}