@use "./partials/mixins" as *;
@use "./partials/varables" as *;

section {
    background-image: url(../assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include my-flex (row, space-between, center);
    
    section.container {
       

        .lists {
            @include my-flex (row, space-between, top);
            flex-wrap: wrap;
            gap: 10px;

            ul {
                width: calc(100% / 4);

                li.title {
                    font-size: .5rem;
                    color: $main-list-li-title;
                    @include my-padding (20px, 0, 5px, 0)
                }

                li {
                    @include my-padding (5px, 0, 0, 0);

                    a.link {
                        font-size: .8rem;
                        color: $main-list-li-link;
                        
                    }
                }   
            }
        }

        img {
            width: 400px;
        }
   
    }
    

}